<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAlbumModal">新建相册</button>
<hr />
<div class="album-list" id="album-list">
  {% for album in albums %}
    <div class="card" style="width: 18rem;">
      <img src="{{ album.album.cover.image.url }}" class="card-img-top card-img-1" alt="..." />
      <div class="card-body">
        <h5 class="card-title" style="margin: 0;">{{ album.album.name }}</h5>
        <span class="picture-count">{{ album.count }} 张</span>
        <p class="card-text" style="margin: 5px 0 0 0;">{{ album.album.description }}</p>
        <small>{{ album.album.created_at|date:'Y-m-d H:i' }}</small>
        <a href="{% url 'main:albums' album.album.id %}" class="btn btn-primary">查看</a>
        <button class="btn btn-danger" data-album-id="{{ album.album.id }}" data-album-name="{{ album.album.name }}" data-bs-toggle="modal" data-bs-target="#confirmDeleteAlbumModal">删除</button>
      </div>
    </div>
  {% endfor %}
</div>
<div class="modal" id="confirmDeleteAlbumModal" tabindex="-1" aria-labelledby="confirmDeleteAlbumModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">确认删除？</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" id="btn-delete-album">确认删除</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="createAlbumModal" tabindex="-1" aria-labelledby="createAlbumModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createAlbumModalLabel">创建相册</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'main:create_album' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="input-box d-flex align-items-center" style="margin: 10px 0;">
            <label for="album-name">相册名称：</label>
            <input type="text" name="album-name" style="flex-grow: 1;" />
          </div>
          <div class="input-box d-flex align-items-center" style="margin: 10px 0;">
            <label for="album-description">相册备注：</label>
            <input type="text" name="album-description" style="flex-grow: 1;" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  var deleteAlbumUrl = "{% url 'main:delete-album' %}?album="
  var createNewAlbumUrl = "{% url 'main:create_album' %}"
</script>
