{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/album.css' %}" />
    <title>Album</title>
  </head>
  <body>
    <div class="container">
      <nav class="album-nav">
        <div class="album-info">
          <span>{{ album.name }}</span>
          <span>{{ album.description }}</span>
          <button class="btn btn-edit-albuminfo">修改</button>
          <form id="overlay" class="overlay" action="{% url 'main:edit-album' %}?album={{ album.id }}" method="post">
            {% csrf_token %}
            <div class="popup">
              <p class="popup_title">编辑相册信息</p>
              <div class="popup-content">
                <div class="album-name">
                  <label for="name">名称:</label>
                  <input type="text" id="name" name="name" value="{{ album.name }}" />
                </div>
                <div class="album-description">
                  <label for="description">备注:</label>
                  <input type="text" id="description" name="description" value="{{ album.name }}" />
                </div>
                <div class="popup_btn">
                  <button class="confirmBtn" onclick="hidePopup()" type="submit">保存</button>
                  <button class="cancelBtn" onclick="hidePopup()" type="button">取消</button>
                </div>
              </div>
            </div>
          </form>
          <a href="{% url 'main:usercenter' %}" class="btn-back">返回</a>
        </div>
        <span style="text-align: center;">{{ album.host.username }}</span>
      </nav>
      <hr style="margin-top: 0;" />
      <div class="upload-area">
        <form action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% comment %} <input type="file" name="userupload" />
          <button type="submit">保存</button> {% endcomment %}
          {{ pic_form.as_p }}
          <button class="btn btn-primary" type="submit">保存</button>
          <button class="btn btn-danger" id="btn-cancelupload" type="button">取消</button>
        </form>
      </div>
      <button class="btn btn-outline-dark" id="btn-uplaodimg" type="button">上传图片</button>
      <hr />
      <div class="pictures-gallery">
        {% for picture in pictures %}
          <div class="picture-item" id="picture-item" style="background-image: url({{ picture.image.url }});" data-picture-id="{{ picture.id }}">
            <div class="dropdown-area dropdown dropdown-menu-end">
              <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" onclick="event.stopPropagation()"></button>
              <ul class="dropdown-menu" style="min-width: 50px;" aria-labelledby="dropdownMenuButton">
                <li>
                  <button class="dropdown-item btn-viewdetails" onclick="event.stopPropagation()" data-picture-id="{{ picture.id }}">详情</button>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'main:delete-picture' %}?picture={{ picture.id }}">删除</a>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
        <div id="modal" class="modal">
          <!-- 关闭按钮 -->

          <span class="close" id="close-modal">&times;</span>
          <div class="picture-content">
            <!-- 用于放大查看的图片 -->
            <img src="#" class="modal-content" id="modalImage" />
            <div class="text-area">
              <div class="text-info-1">
                <label for="modal-album">所属相册:</label>
                <span id="modal-album"></span>
              </div>
              <div class="text-info-1">
                <label for="modal-upload-date">上传日期:</label>
                <span id="modal-upload-date"></span>
              </div>
              <div class="text-info-1">
                <label for="modal-description">备注:</label>
                <input type="text" id="modal-description" />
              </div>
              <hr />
              <div class="tag-area" id="modal-tag-area"></div>
            </div>
          </div>
        </div>
        {% comment %}相片详情{% endcomment %}
        <div id="overlay-view-detail" class="overlay">
          <div class="popup">
            <p class="popup_title">相片详情</p>
            <div class="popup-content">
              <div class="album-name">
                <label for="upload-date">上传日期:</label>
                <span id="upload-date"></span>
              </div>
              <div class="album-name">
                <label for="album">所属相册:</label>
                <span id="album"></span>
              </div>
              <form action="#" method="post" id="form-picture-detail">
                {% csrf_token %}
                <div class="album-description">
                  <label for="detail-description">备注:</label>
                  <input type="text" id="detail-description" name="description" value="" />
                </div>
                <div class="picture-tag-wrapper">
                  <div class="album-tag tag-area" id="picture-tag"></div>
                  <input class="add-tag" id="input-add-tag" type="text" name="tag" />
                </div>
                <div class="popup_btn">
                  <button class="confirmBtn" id="save-detail-changes" type="submit">保存</button>
                  <button class="cancelBtn" id="hide-details" type="button">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/album.js' %}"></script>
  <script>
    var viewPictureModalUrl = "{% url 'main:view-picture-modal' %}"
    var viewPictureDetail = "{% url 'main:view-picture-detail' %}"
  </script>
</html>
