{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" />
    <title>Album</title>
</head>
<body>
    <div class="container">
        <nav>
            <span>{{ album.name }}</span>
            <span>{{ album.host.username }}</span>
        </nav>
        <hr>
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} <input type="file" name="userupload">
            <button type="submit">保存</button> {% endcomment %}
            {{pic_form.as_p}}
            <button type="submit">保存</button>
        </form>
    </div>
</body>
</html>