<a href="{% url 'main:create_album' %}" class="btn btn-primary">新建相册</a>
<hr />
<div class="album-list" id="album-list">
  {% for album in albums %}
  <div class="card" style="width: 18rem;">
    <img src="{{ album.album.cover.image.url }}" class="card-img-top card-img-1" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="margin: 0;">{{ album.album.name }}</h5>
      <span class="picture-count">{{album.count}} 张</span>
      <p class="card-text" style="margin: 5px 0 0 0;">{{ album.album.description }}</p>
      <small>{{ album.album.created_at|date:'Y-m-d H:i' }}</small>
      <a href="{% url 'main:albums' album.album.id %}" class="btn btn-primary">查看</a>
      <a href="{% url 'main:delete-album' %}?album={{album.album.id}}" class="btn btn-danger">删除</a>
    </div>
  </div>
  {% endfor %}
</div>
