{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nas Center</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}" />
  </head>
  <body>
    <div class="container">
      <head>
        <nav>
          <ul>
            <li>
              <a href="#">相册</a>
            </li>
            <li>
              <a href="#">照片</a>
            </li>
            <li>
              <a href="#">视频</a>
            </li>
          </ul>
          <div class="btn-group">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">个人中心</a>
              </li>
              <li>
                <a href="{% url 'main:logout' %}">退出登录</a>
              </li>
            </ul>
          </div>
        </nav>
      </head>
      <div>
        <a href="{% url 'main:create_album' %}" class="btn btn-primary">新建相册</a>
        {% for album in albums %}
          <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ album.name }}</h5>
              <p class="card-text">{{ album.description }}</p>
              <small>{{album.created_at|date:"Y-m-d H:i:s"}}</small>
              <a href="{% url 'main:albums' album.id %}" class="btn btn-primary">查看</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}"></script>
</html>
