.album-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 遮罩层 */
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    display: none;
    z-index: 999;
}

/* 弹出框主体 */
.popup {
    background-color: #ffffff;
    max-width: 400px;
    min-width: 200px;
    /* height: 240px; */
    border-radius: 5px;
    margin: 100px auto;
    text-align: center;
}

.popup .popup-content {
    margin: 0;
    padding: 20px;
}

.popup .album-name {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.popup .album-name label {
    margin: 0 10px;
}

.popup .album-name input {
    margin: 0 10px;
    flex: 1;
}

.popup .album-description {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.popup .album-description label {
    margin: 0 10px;
}

.popup .album-label {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.popup .album-label label {
    margin: 0 10px;
}

.popup .album-label input{
    margin: 0 10px;
    flex: 1;
}

.popup .album-description input {
    margin: 0 10px;
    flex: 1;
}

/* 弹出框的标题 */
.popup_title {
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #cccccc;
    margin: 0;
}

.popup .popup_btn {
    display: flex;
    justify-content: space-between;
}

/* 弹出框的按钮 */
.popup_btn button {
    color: #778899;
    width: 40%;
    height: 40px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #337ab7;
}

.pictures-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 每行4列 */
    gap: 16px;
    /* 图片间的间距 */
}

.picture-item {
    width: 100%;
    aspect-ratio: 4/3;
    display: inline-block;
    border: 1px #f1f1f1 solid;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    position: relative;
    overflow: hidden;
}

.picture-item:hover {
    cursor: pointer;
}

.picture-item .dropdown-area {
    position: absolute;
    display: none;
    right: 0;
}

.picture-item .dropdown-area .btn-dropdown {
    border: none;
    background-color: #ffffff;
}

.picture-item:hover .dropdown-area {
    display: flex;
    /* opacity: 1; */
}

.upload-area {
    display: none;
}

/* 可点击放大的图片 */
.zoomable {
    width: 100%;
    max-width: 300px;
    cursor: pointer; /* 鼠标悬浮时显示指针 */
}

/* 模态框样式 */
.modal {
    display: none; /* 默认隐藏模态框 */
    position: fixed; /* 固定定位，覆盖整个页面 */
    z-index: 1; /* 确保模态框显示在最上层 */
    padding-top: 100px; /* 模态框内内容距离顶部的距离 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 当内容溢出时显示滚动条 */
    background-color: rgba(0, 0, 0, 0.2); /* 半透明背景 */
}

/* 模态框内放大的图片 */
.modal-content {
    margin: 0; /* 居中对齐 */
    display: block; /* 块级显示 */
    width: 80%; /* 图片的宽度 */
    max-width: 700px; /* 最大宽度限制 */
}

/* 图片的缩放动画 */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* 缩放动画 */
@keyframes zoom {
    from {
        transform: scale(0); /* 初始缩放为0 */
    }
    to {
        transform: scale(1); /* 缩放到1倍 */
    }
}

/* 关闭按钮样式 */
.close {
    position: absolute; /* 绝对定位 */
    top: 15px;
    right: 35px;
    color: #f1f1f1; /* 按钮颜色 */
    font-size: 40px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    cursor: pointer; /* 鼠标悬浮时显示指针 */
}

/* 鼠标悬浮时关闭按钮的样式 */
.close:hover {
    color: #bbb; /* 更改悬浮时的颜色 */
}

.modal .picture-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal .picture-content .text-area {
    width: 300px;
    height: 700px;
    background-color: #ffffff;
    margin: auto 0;
    border-radius: 5px;
}

.modal .picture-content .text-area .text-info-1{
    margin: 5px;
}
