nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: auto 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.btn-usropt {
    border: none;
    background-color: transparent;
    padding: 0;
}

.album-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 每行4列 */
    gap: 16px;
    /* 图片间的间距 */
}

.picture-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 每行4列 */
    gap: 16px;
    /* 图片间的间距 */
}

.picture-item {
    width: 100%;
    aspect-ratio: 4/3;
    display: inline-block;
    border: 1px #f1f1f1 solid;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    position: relative;
    overflow: visible;
}

.picture-count {
    color: #ccc
}

.btn-set-userinfo {
    border: none;
    background-color: transparent;
    padding: 0
}

.info {
    display: flex;
    align-items: center;
}