nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: auto 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.btn-usropt {
    border: none;
    background-color: transparent;
    padding: 0;
}

.album-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 每行4列 */
    gap: 16px;
    /* 图片间的间距 */
}

